*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-y: scroll;
}

body.lock {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

main {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

input,
select {
  vertical-align: middle;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  width: 100%;
  position: fixed;
  display: inline-block;
}

.header__top {
  width: 100%;
  background-color: #F7F8F9;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  display: block;
}

.header__top.hide {
  display: none;
}

.header__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__top-menu-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #343434;
  margin-right: 20px;
}

.header__top-menu-item:hover {
  text-decoration: underline;
}

.header__top-menu-item:last-child {
  margin-right: 0;
}

.header-phones__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #4F66C0;
  margin-left: 15px;
}

.header-phones__item:hover {
  text-decoration: underline;
}

.header-phones__item:first-child {
  margin-left: 0;
}

.header__top-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  z-index: 3;
}

.header__bottom {
  width: 100%;
  padding: 13px 0;
  -webkit-box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.25);
          box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.25);
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.header__bottom-container {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom-menu-open {
  padding: 18px 15px 18px 15px;
  background: #4F66C0;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F7F8F9;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  min-width: 38px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__bottom-menu-open:hover {
  background: #40508f;
}

.header__bottom-menu-open .icon-menu-x.icon-close::before {
  display: inline-block;
  position: relative;
  left: 3px;
}

.header__bottom-menu-open.desc {
  min-width: 160px;
}

.header__bottom-menu-open span {
  white-space: nowrap;
}

.header__bottom-menu-open span.desc {
  display: block;
}

.header__bottom-menu-open span.mob {
  display: none;
}

.header__bottom-menu-open.desc > span i::before {
  margin-right: 5px;
}

.header__bottom-logo {
  margin-right: 15px;
}

.header__bottom-logo picture {
  width: calc(148px + 39 * (100vw - 320px) / 1600);
}

.header__bottom-logo img {
  max-width: 100%;
  width: 100%;
}

.header__bottom-search {
  border: 1px solid #C6C6C6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 17px;
  padding-right: 50px;
  width: 100%;
  max-width: 650px;
  position: relative;
  margin-right: 15px;
}

.header__bottom-search-main {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
  position: relative;
  margin-right: 5px;
  width: 100%;
}

.header__bottom-search-main::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
}

.header__bottom-search-main::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
}

.header__bottom-search-main:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
}

.header__bottom-search-main::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
}

.header__bottom-search-main::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
}

.header__bottom-search-link {
  background: #4F66C0;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 9px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__bottom-search-link:hover {
  background: #40508f;
}

.header__bottom-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-do-num {
  position: absolute;
  right: -15px;
  top: -9px;
  padding: 4px;
  min-width: 18px;
  min-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #15B8BC;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  border-radius: 50%;
}

.header__bottom-do-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  position: relative;
}

.header__bottom-do-item i {
  position: relative;
}

.header__bottom-do-item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #4F66C0;
  margin-top: 4px;
}

.header__bottom-do-item i {
  font-size: 16px;
  color: #4F66C0;
}

.header__bottom-do-item:last-child {
  margin-right: 0;
}

.header__bottom-mob-wrap {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-mob-wrap-link {
  display: inline-block;
}

.header__mob-foot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #DDDDDD;
  display: none;
  background-color: #fff;
  z-index: 2;
}

.header__mob-foot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100%;
  z-index: -1;
}

.header__mob-foot-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #888888;
}

.header__mob-foot-item i {
  font-size: 16px;
  margin-bottom: 5px;
}

.header__drop {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: auto;
  display: block;
}

.header__drop.active {
  opacity: 1;
  visibility: visible;
}

.header__drop-container {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__drop-container.active {
  opacity: 1;
  visibility: visible;
}

.header__drop-wrapper {
  max-width: 1360px;
  margin: 0 auto;
  overflow: auto;
}

.header__drop-inner {
  background: #FFFFFF;
  overflow: auto;
  -webkit-box-shadow: 0px 5px 10px #BBBBBB;
          box-shadow: 0px 5px 10px #BBBBBB;
  border-radius: 0px 0px 10px 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
  margin-bottom: 150px;
}

.header__drop-inner.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.header__drop-tabs {
  padding-right: 38px;
  border-right: 1px solid #E4E4E7;
  min-width: 250px;
}

.header__drop-tab {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 3px;
}

.header__drop-tab::before {
  margin-right: 5px;
}

.header__drop-tab.active {
  background: #4F66C0;
  color: #fff;
}

.header__drop-tabs-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 30px;
}

.header__drop-stock {
  padding: calc(30px + 65 * (100vw - 320px) / 1600);
  min-height: 100%;
  background-image: url(../img/stock.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.header__drop-tab-content-item-list {
  list-style-type: none;
}

.header__drop-tab-content-item-cont {
  list-style-type: none;
}

.header__drop-tab-content-item-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
}

.header__drop-tab-content-item-cont-cat {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  cursor: pointer;
  margin-top: 10px;
}

.header__drop-tab-content-item-list-item {
  margin-bottom: 25px;
}

.header__drop-tab-content-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__drop-tab-content-item-list-bloc {
  margin-right: calc(10px + 20 * (100vw - 320px) / 1600);
}

.header__mob {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-top: 66px;
  padding-right: 20px;
  padding-left: 20px;
  height: 100vh;
}

.header__mob-inner {
  height: 100%;
  position: relative;
  overflow: auto;
  padding-top: 34px;
  padding-bottom: 100px;
}

.header__mob-inner-top {
  min-height: 100%;
}

.header__mob-wrap {
  margin-bottom: 30px;
}

.header__mob-wrap-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mob-wrap-head > i:nth-child(1) {
  margin-right: 8px;
}

.header__mob-wrap-head > i:last-child {
  margin-left: auto;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__mob-wrap-head.in > i:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__mob-inner-decor {
  height: 1px;
  width: 100%;
  background-color: #EBEBEB;
  margin-bottom: 30px;
}

.header__mob-inner-list {
  list-style-type: none;
}

.header__mob-inner-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #343434;
  margin-bottom: 35px;
}

.header__mob-inner-list-item i::before {
  font-size: 10px;
  color: #696767;
  margin-right: 18px;
  display: inline-block;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__mob-inner-list-item-norm {
  font-weight: 500;
}

.header__mob-inner-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  padding: 20px;
}

.header__mob-inner-foot::after {
  content: "";
  position: absolute;
  top: 0;
  width: 93%;
  height: 1px;
  background-color: #D3D3D3;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__mob-inner-foot-line {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #343434;
}

.header__mob-inner-foot-line i {
  margin-right: 15px;
}

.header__mob-inner-foot-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D3D3D3;
  margin-top: 10px;
}

.descr {
  background-color: #fff;
  padding-top: 135px;
  padding-bottom: calc(20px + 30 * (100vw - 320px) / 1600);
}

.descr__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descr__container {
  display: block;
}

.descr__bread {
  margin-bottom: 24px;
}

.descr__bread.desc {
  display: block;
}

.descr__bread.mob {
  display: none;
}

.descr__bread-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #AAAAAA;
}

.descr__bread-text-current {
  color: #343434;
}

.descr__img {
  max-width: 460px;
  position: relative;
}

.descr__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 30px;
}

.descr__text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(16px + 16 * (100vw - 320px) / 1600);
  line-height: calc(14px + 23 * (100vw - 320px) / 1600);
  color: #000000;
  margin-bottom: calc(13px + 12 * (100vw - 320px) / 1600);
}

.descr__text-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.descr__text-num {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  margin-left: 10px;
}

.descr__text-art {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #BBBBBB;
  margin-left: 20px;
}

.descr__text-is {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #4CAF50;
  margin-bottom: 25px;
}

.descr__text-is i {
  margin-right: 6px;
}

.descr__text-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.descr__text-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 20px;
}

.descr__text-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.descr__text-tab {
  padding: 6px 20px;
  border: 1px solid #666666;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #666666;
  margin-right: 7px;
  cursor: pointer;
}

.descr__text-tab:last-child {
  margin-right: 0;
}

.descr__text-tab.active {
  background: #4F66C0;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #fff;
}

.descr__text-weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(30px + -15 * (100vw - 320px) / 1600);
}

.descr__text-weight-arr {
  background: #EBEBEB;
  border-radius: 5px;
  padding: 11px;
  font-size: 8px;
  cursor: pointer;
}

.descr__text-weight-arr-left {
  margin-right: 10px;
}

.descr__text-weight-arr-left > span::before {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.descr__text-weight-num {
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.descr__text-weight-num span {
  margin-right: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #343434;
}

.descr__text-warn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #222222;
  background: #F7F8F9;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
}

.descr__text-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + 12 * (100vw - 320px) / 1600);
  line-height: calc(23px + 14 * (100vw - 320px) / 1600);
  color: #000000;
  margin-top: 40px;
}

.descr__text-price-old {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: calc(20px + 4 * (100vw - 320px) / 1600);
  line-height: calc(23px + 5 * (100vw - 320px) / 1600);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #BBBBBB;
  margin-left: calc(5px + 25 * (100vw - 320px) / 1600);
}

.descr__text-move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.descr__text-move-cart {
  margin-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 16px 40px;
  background: #4F66C0;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.descr__text-move-cart:hover {
  background: #4558a5;
}

.descr__text-move-one {
  margin-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  color: #666666;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  padding: 16px 40px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.descr__text-move-one:hover {
  background: #eeeded;
}

.descr__text-move-favor {
  background: #EEEEEE;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.descr__text-move-favor:hover {
  background: #dad6d6;
}

.descr__text-move-favor i {
  color: #888888;
  font-size: 20px;
}

.descr__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.swiper-zoom-container {
  height: auto !important;
  max-height: 100%;
}

.swiper-zoom-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-preview {
  max-height: 280px;
  max-width: 50px;
  width: 100%;
  margin-right: 10px !important;
}

.swiper-preview .swiper-slide {
  width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-preview .swiper-slide:last-child {
  margin-bottom: 0;
}

.swiper-preview .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-main {
  width: 100%;
  max-height: 400px;
}

.swiper-slide-main {
  border-radius: 10px;
  overflow: hidden;
}

.swiper-wrapper-preview {
  pointer-events: none;
}

.swiper-slide-preview {
  pointer-events: all;
}

.swiper-slide-preview img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.swiper-preview-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.swiper-preview-prev i {
  color: #DDDDDD;
}

.swiper-preview-prev.swiper-button-disabled {
  background: #F7F8F9;
  border: none;
}

.swiper-preview-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.swiper-preview-next.swiper-button-disabled {
  background: #F7F8F9;
  border: none;
}

.swiper-preview-next i {
  color: #DDDDDD;
}

.swiper-main {
  position: relative;
}

.swiper-main-tab {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #4CAF50;
  border-radius: 4px;
  padding: 2px 10px;
  z-index: 2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.swiper-main-zoom {
  position: absolute;
  bottom: 11px;
  right: 11px;
  padding: 8px;
  background: #E6E6E6;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #AAAAAA;
}

.swiper-main-prev {
  position: absolute;
  top: 50%;
  left: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  display: none;
  color: #4F66C0;
}

.swiper-main-prev span::before {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  right: 2px;
  top: 1px;
}

.swiper-main-next {
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  color: #4F66C0;
}

.swiper-main-next span::before {
  display: inline-block;
  position: relative;
  left: 2px;
  top: 1px;
}

.swiper-main-pagination {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  bottom: -30px !important;
  display: none;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #AAAAAA !important;
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background-color: #4F66C0 !important;
  border: 2px solid #4F66C0 !important;
}

.info {
  background-color: #F7F8F9;
  padding-top: 48px;
  padding-bottom: 143px;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 14px;
}

.info__tabs-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.info__tabs-head-item {
  background: #FFFFFF;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  padding: 10px 30px;
  margin-right: 25px;
  cursor: pointer;
}

.info__tabs-head-item:last-child {
  margin-right: 0;
}

.info__tabs-head-item.active {
  color: #fff;
  background: #4F66C0;
}

.info__sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 318px;
          flex: 1 0 318px;
  position: sticky;
  top: 30px;
}

.info__sidebar-blok {
  padding: 19px 70px 45px 70px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 63px;
}

.info__sidebar-blok-item {
  position: relative;
  margin-bottom: 40px;
}

.info__sidebar-blok-item i {
  position: absolute;
  top: 0;
  left: -50px;
  color: #4CAF50;
  font-size: 35px;
}

.info__sidebar-blok-item:last-child {
  margin-bottom: 0;
}

.info__sidebar-blok-item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 7px;
}

.info__sidebar-blok-item-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.info__blok {
  padding: 41px 18px;
  background-color: #fff;
  border-radius: 10px;
}

.info__blok-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__blok-line-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__blok-line-part-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.info__blok-line-part-order {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-left: 30px;
}

.info__blok-line-part-order span {
  margin-left: 5px;
}

.info__blok-line-write {
  background: #FFC709;
  border-radius: 5px;
  padding: 7px 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__blok-line-write:hover {
  background: #ecb708;
}

.info__blok-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #222222;
  margin-bottom: 25px;
}

.info__blok-text:last-child {
  margin-bottom: 0;
}

.info__blok-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.info__blok-reviews {
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #222222;
}

.info__blok-reviews-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #222222;
}

.info__blok-reviews img {
  margin-right: 8px;
  display: inline-block;
}

.info__block-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 38px;
}

.info__block-part:last-child {
  margin-bottom: 0;
}

.info__blok-left {
  max-width: calc(150px + 50 * (100vw - 320px) / 1600);
  width: 100%;
  min-width: calc(150px + 50 * (100vw - 320px) / 1600);
  padding-right: 30px;
}

.info__blok-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #000000;
}

.info__blok-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info__blok-right-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.info__blok-right-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(150px + 25 * (100vw - 320px) / 1600);
          flex: 0 0 calc(150px + 25 * (100vw - 320px) / 1600);
}

.info__blok-right-property {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(16px + -4 * (100vw - 320px) / 1600);
  color: #000000;
}

.info__blok-review {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E6E6;
}

.info__blok-review.hide {
  display: none;
}

.info__blok-review-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__blok-review-head-img {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
}

.info__blok-review-head-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__blok-review-head-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-right: 15px;
  margin-left: 15px;
}

.info__blok-review-main {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info__blok-review-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__blok-review-foot-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #888888;
}

.info__blok-review-foot-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__blok-review-foot-mark-like {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #888888;
  margin-right: 18px;
}

.info__blok-review-foot-mark-like::before {
  margin-right: 8px;
}

.info__blok-review-foot-mark-dislike {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #888888;
}

.info__blok-review-foot-mark-dislike::before {
  margin-right: 8px;
}

.info__blok-line-last {
  margin-top: 15px;
}

.info__blok-more {
  padding: 7px 14px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__blok-more:hover {
  background: #dbd9d9;
}

.info__blok-more.hide {
  display: none;
}

.info__blok-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__blok-pagination-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #444444;
  margin-right: 20px;
}

.info__blok-pagination-item:last-child {
  margin-right: 0;
}

.info__blok-pagination-item.active {
  background: #E6E6E6;
  border-radius: 50%;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.info__blok-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 466px;
}

.info__blok-prod-item {
  padding: 10px 20px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin-right: 4px;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__blok-prod-item:hover {
  background: #dbd9d9;
}

.info__make {
  margin-top: 45px;
  margin-bottom: 45px;
}

.info__make-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.info__make-head-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(18px + 6 * (100vw - 320px) / 1600);
  line-height: calc(21px + 7 * (100vw - 320px) / 1600);
  color: #000000;
}

.info__make-head-link {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 7px 15px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__make-head-link:hover {
  background: #f7f4f4;
}

.info__make-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__make-item {
  width: 40%;
  margin-right: calc(12px + 4 * (100vw - 320px) / 1600);
}

.info__make-item:last-child {
  margin-right: 0;
}

.info__make-item-img picture {
  height: calc(107px + 43 * (100vw - 320px) / 1600);
}

.info__make-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__make-item-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 8px;
}

.info__make-item-star img {
  margin-right: 8px;
}

.info__make-item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__make-item-title:hover {
  text-decoration: underline;
}

.info__buy {
  display: block;
  margin-bottom: 20px;
}

.info__buy:last-child {
  margin-bottom: 0;
}

.info__buy.hide {
  display: none;
}

.info__buy-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__buy-card {
  width: 40%;
  margin-right: calc(10px + 3 * (100vw - 320px) / 1600);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2.05252px 10.2626px #DEDEDE;
          box-shadow: 0px 2.05252px 10.2626px #DEDEDE;
  border-radius: 10.2626px;
  overflow: hidden;
}

.info__buy-card:last-child {
  margin-right: 0;
}

.info__buy-card-img {
  position: relative;
}

.info__buy-card-img picture {
  height: calc(165px + 63 * (100vw - 320px) / 1600);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.info__buy-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__buy-card-img-tab {
  position: absolute;
  top: 0;
  left: 0;
  background: #4F66C0;
  border-bottom-right-radius: 10px;
  padding: 7px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14.3676px;
  line-height: 17px;
  color: #F7F8F9;
}

.info__buy-card-info {
  padding: 12px;
}

.info__buy-card-info-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
  line-height: 16px;
  color: #4F66C0;
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__buy-card-info-name:hover {
  text-decoration: underline;
}

.info__buy-card-info-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  margin-top: calc(25px + -10 * (100vw - 320px) / 1600);
}

.info__buy-card-info-stars {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__buy-card-info-stars img {
  margin-right: calc(5px + 3 * (100vw - 320px) / 1600);
}

.info__buy-card-info-art {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: calc(10px + 2 * (100vw - 320px) / 1600);
  line-height: calc(12px + 2 * (100vw - 320px) / 1600);
  color: #BBBBBB;
}

.info__buy-card-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info__buy-card-info-price-new {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  line-height: calc(19px + 5 * (100vw - 320px) / 1600);
  color: #222222;
  margin-right: calc(5px + 3 * (100vw - 320px) / 1600);
}

.info__buy-card-info-price-old {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
  line-height: calc(14px + 5 * (100vw - 320px) / 1600);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #BBBBBB;
}

.info__buy-card-info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(14px + 6 * (100vw - 320px) / 1600);
}

.info__buy-card-info-cart {
  background: #FFFFFF;
  border: 1px solid #4F66C0;
  border-radius: 6.6px;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #4F66C0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__buy-card-info-cart:hover {
  background: #f3f3f5;
}

.info__buy-card-info-touch {
  background: #F7F8F9;
  border-radius: 6.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__buy-card-info-touch:hover {
  background: #e1e2e4;
}

.info__buy-more {
  width: 100%;
  margin-top: 17px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  background: #DDDDDD;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info__buy-more:hover {
  background: #cecfd1;
}

.info__buy-more.hide {
  display: none;
}

@media (max-width: 1180px) {
  .info__main {
    margin-right: 0px;
  }

  .info__sidebar {
    display: none;
  }
}

@media (max-width: 991px) {
  .header__bottom-menu-open {
    padding: 12px;
    padding-bottom: 10px;
  }

  .header__bottom-menu-open span.desc {
    display: none;
  }

  .header__bottom-menu-open span.mob {
    display: block;
  }

  .header__bottom-menu-open.desc {
    min-width: 37px;
  }

  .descr__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .descr__text {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media (max-width: 950px) {
  .header__drop-inner {
    padding: 11px;
  }

  .header__drop-tabs {
    padding-right: 11px;
  }
}

@media (max-width: 810px) {
  .info__buy-card-info-touch {
    display: none;
  }
}

@media (max-width: 803px) {
  .info__main {
    max-width: 100%;
  }

  .info__make-body {
    display: -webkit-inline-box;
    display: -webkit-box;
    overflow: scroll;
  }

  .info__make-item {
    width: 150px;
  }

  .info__buy {
    max-width: 100%;
    width: 100%;
  }

  .info__buy-cards {
    display: -webkit-box;
    display: -webkit-inline-box;
    overflow: scroll;
    max-width: 100%;
  }

  .info__buy-card {
    width: 165px;
  }

  .info__buy-card:last-child {
    margin-right: 0px;
  }

  .info__buy-card-img-tab {
    display: none;
  }

  .info__buy-card-info-stars img {
    max-width: 56px;
  }
}

@media (max-width: 734px) {
  .header__top {
    display: none;
  }

  .header__bottom-menu-open.desc {
    display: none;
  }

  .header__bottom-menu-open {
    display: inline-block;
  }

  .header__bottom-search {
    display: none;
  }

  .header__bottom-search-link {
    padding: 10px;
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .header__bottom-do {
    display: none;
  }

  .header__bottom-mob-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__mob-foot {
    display: block;
  }

  .header__drop {
    display: none;
  }

  .header__mob {
    display: block;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .header__mob.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  .descr {
    padding-top: 86px;
  }

  .descr__bread.desc {
    display: none;
  }

  .descr__bread.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .descr__bread.mob .descr__bread-text i {
    margin-right: 10px;
    color: #888888;
  }

  .descr__bread.mob i {
    color: #888888;
  }

  .descr__container {
    padding-right: 0;
    padding-left: 0;
  }

  .descr__container > .descr__bread,
  .descr__container .descr__wrap > .descr__text {
    padding-right: 20px;
    padding-left: 20px;
  }

  .descr__img {
    max-width: 100%;
  }

  .descr__text-text {
    display: none;
  }

  .descr__text-tabs {
    position: relative;
  }

  .descr__text-tabs::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
    right: 0;
  }

  .descr__text-weight {
    position: relative;
  }

  .descr__text-weight::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
    right: 0;
  }

  .descr__text-price {
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
  }

  .descr__text-price::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
    right: 0;
  }

  .descr__text-move {
    position: fixed;
    bottom: 70px;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 18px;
    padding-top: 5px;
  }

  .descr__text-move-cart {
    max-width: 327px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .descr__text-move-one {
    display: none;
  }

  .descr__text-move-favor {
    display: none;
  }

  .swiper-zoom-container picture {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .swiper-main {
    max-height: 335px;
  }

  .swiper-main-tab {
    left: 40px;
  }

  .swiper-main-zoom {
    right: 40px;
  }

  .swiper-first {
    display: none;
  }

  .swiper-main-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .swiper-main-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .swiper-main-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .info {
    padding-top: 13px;
  }

  .info__tabs-head {
    display: none;
  }

  .info__container {
    padding-right: 0;
    padding-left: 0;
  }

  .info__blok-reviews {
    display: none;
  }

  .info__blok-reviews-text {
    display: none;
  }

  .info__block-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__blok-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 33px;
  }

  .info__blok-right-line {
    margin-bottom: 22px;
  }

  .info__blok-right-name {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
  }

  .info__blok-line-part {
    display: none;
  }

  .info__make {
    padding-left: 20px;
  }

  .info__make-head-link {
    display: none;
  }

  .info__buy {
    padding-left: 20px;
  }

  .info__blok-left-re {
    padding-right: 0;
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__blok-left-re .info__blok-subtitle {
    margin-bottom: 0;
  }

  .info__blok-right {
    max-width: 100%;
    width: 100%;
  }

  .info__blok-left {
    max-width: 100%;
    width: 100%;
  }

  .info__blok-pagination {
    display: none;
  }

  .info__blok-line-last {
    position: relative;
  }

  .info__blok-line-last::after {
    position: absolute;
    width: 100vw;
    height: 13px;
    right: -20px;
    bottom: 0;
    content: "";
    background: #F7F8F9;
  }

  .info__blok-line-last .info__blok-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #4F66C0;
    border: 1px solid #4F66C0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 11px;
    max-width: 320px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 68px;
    position: relative;
  }

  .info__blok-prod-item {
    margin-bottom: 8px;
  }

  .info__make {
    background-color: #fff;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .info__blok-prod-item {
    font-size: 13px;
    line-height: 16px;
    padding: 7px 20px;
    border-radius: 5px;
  }

  .info__make-item:last-child,
  .info__buy-card:last-child {
    margin-right: 20px;
  }

  .info__buy-more {
    display: none;
  }

  .info__make-item-star {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .info__buy {
    margin-bottom: 0;
  }

  .info__buy-cards {
    padding-bottom: 20px;
  }

  .info__make-body {
    padding-bottom: 20px;
  }

  .info__make {
    padding-bottom: 0;
  }
}

@media (max-width: 450px) {
  .header__bottom {
    -webkit-box-shadow: 0px 0px 0px rgba(187, 187, 187, 0.25);
            box-shadow: 0px 0px 0px rgba(187, 187, 187, 0.25);
  }

  .header__bottom::after {
    position: absolute;
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    content: "";
    width: 92%;
    height: 1px;
    background-color: #DEDEDE;
  }
}